#logo-bot{
  fill:none;
  animation:logo-bot;
  animation-duration: 4.2s;
  fill:none;
  animation-fill-mode: forwards;
  animation-delay: 1s

}



#logo-top{
  animation:logo-top;
  animation-duration: 4.2s;
  fill:none;
  animation-fill-mode: forwards;
  animation-delay: 1s


}


@keyframes logo-top {
  66%{fill:none}
  67%{fill:#41C0BF}

  100%{fill:#41C0Bf}
}
@keyframes logo-bot {
  66%{fill:none}
  67%{fill:white}

  100%{fill:white}
}
.logo-stroke{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1100;
  animation: logo-stroke 12s cubic-bezier(0.13, 0.18, 0.31, 1.16) forwards;
  stroke: #525252;
  stroke-width: 13.6338;
  stroke-miterlimit:10;
  fill: none;
  animation-delay: 1s

}

@keyframes logo-stroke{


    to {
      stroke-dashoffset:50;

    }
  }

@media screen and (max-width: 768px){


  body{
    margin: 0;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
  }
  body ::selection, html ::selection {
      background: #41c0bf;
      color:white;
  }

  *{
    padding: 0;
    margin: 0;
  }
  .wrapper{
    margin: auto;
    width: 90%;
    max-width: 1440px;
  }
  .landing{
   padding-top: 20px;
  }

  .landing-page{
    /* padding-top: 45px; */
    /* align-self: center; */
  }

  .landing nav {
    padding-bottom: 30px;
  }
  .landing nav ul {
    text-align: center;
  }
  .landing nav ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
  }
  .landing nav ul li a {
    text-decoration: none;
    color: #41c0bf;
    /* background-color: #41c0bf; */
    border: solid 3px;
    padding: 12px 15px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    font-family: Montserrat,Helvetica, Arial, sans-serif;
    /* font-size: 2vw; */
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .landing-page h1{
    /* text-align: center; */
    font-family: Montserrat;
    /* responsive font size */
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 8px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }

  .landing-page p{
    margin-top: 10px;
    margin: auto;
    /* text-align: center; */
    /* width: 94%; */
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
    padding: 0px 0 13px;
  }
  .logo{
    margin: auto;
    width: 125px;
    padding-bottom: 9px;
  } 
  .center{
    /* text-align: center; */
    margin: auto;
  }
  .cta-btn a{
        /* display: inline-block; */
        text-decoration: none;
        /* width: 210px; */
        /* height: 43px; */
        /* border-radius: 10px; */
        border-bottom: solid 5px #41c0bf;
        font-family: Montserrat;
        /* font-size: 16px; */
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: normal;
        color: #525252;
        padding: 2px 0px;
        background-size: 0 100%;
        background-repeat: no-repeat;
        transition: background-size 0.4s ease;
  }

  .cta-btn a:hover{
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 100% 100%;
  }
  .cta-btn a:not(:hover){
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 0 100%;
  }
  .social{
    /* text-align: center; */
    padding-top: 15px;
  }
  .social li{
    display: inline-block;
    list-style-type: decimal;
    text-align: center;
    margin-right: 3px;
  }
  .social li svg{
    height: 20px;
  }
  .c2alinks a {
    display: inline-block;
    /* float: left; */
    background-size:  0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
  }
  .c2alinks a:hover{
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 100% 100%;
  }

  /* The is a very import css selector ":not()" it helps you pass the oppiste of and argument */
  .c2alinks a:not(:hover){
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 0 100%;

  }

  .btn1{

    text-decoration: none;
    color: black;
    background-size:  0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
  }
  .btn1:hover{
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 100% 100%;
  }
  .btn1:not(:hover){
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 0 100%;
  }
  .hero {
    margin-top: 30px;
    background-image: url(group.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
  }
  .hero img {
    width: 100%;
    /* height: 271px; */
  }
  .we-do {
    position: relative;
    margin-top: 27px;
  }
  .we-do div {
    position: absolute;
    height: 150px;
    width: 151px;
    background-color: #41c0bf;
    border-radius: 50%;
    z-index: -1;
    top: -63px;
    left: -53px;
  }
  .we-do h1 {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 17px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .we-do ul {
    list-style-type: none;
    padding-left: 20px;
  }
  .we-do ul li {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 10px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .process {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 8px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #41c0bf;
    text-align: center;
    padding-top: 30px;
  }
  .discovery {
    padding-top: 50px;
  }
  .discovery-illus {
    width: 240px;
    margin: auto;
    padding-bottom: 20px;
  }
  .discovery-text {
    border-bottom: solid 1px #41c0bf;
    padding-bottom: 20px;
  }
  .discovery-text h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 5px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .discovery-text p {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 5px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .work {
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
  }
  .work h1 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 8px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #41c0bf;
    text-align: center;
    padding-top: 40px;
  }
  .works {
    padding-top: 25px;
  }
  .work1 div img {
    width: 100%;
  }
  .work1 h1 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    padding-top: 5px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
    padding-bottom: 0;
    text-align: left;
  }
  .work1 p {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 5px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #41c0bf;
  }
  .contact {
    text-align: center;
    background-color: #41C0BF;
    padding: 35px 10px;
    /* margin-top: 25px; */
  }
  .contact p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 10px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .contact a {
    text-decoration: none;
    border: solid 1px #ffffff;
    color: #ffffff;
    padding: 7px 15px;
    display: inline-block;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    box-sizing: border-box;
  }
  .do-else {
        /* background-color: #41c0bf; */
        position: relative;
        /* padding-top: 20px; */
        
  }
  .do-else div {
    background-color: #41c0bf;
    height: 100%;
    width: 20px;
    position: absolute;
  }
  .do-else h1 {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    /* padding-bottom: 17px; */
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-left: 31px;
    color: #525252;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .impact {
    margin-top: 30px;
    background-image: url(teach.jpeg);
    height: 200px;
    background-position: center;
    background-size: cover;
  }
  .impact-prog {
    padding-top: 5px;
    list-style-type: none;
  }
  .impact-prog li {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: solid 1px #cccccc;
  }
  .impact-prog li h1 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 10px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .impact-prog li p {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 5px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .blog {
    padding-top: 25px;
  }
  .social-cta2 {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    border-bottom: solid 1px #525252;
    border-top: solid 1px #525252;
  }
  .social2 {
    text-align: center;
    padding-top: 10px;
  }
  .social2 li {
    display: inline-block;
    list-style-type: decimal;
    text-align: center;
    margin-right: 15px;
  }
  .social2 li:last-child {
    margin-right: 0
  }
  .social2 li svg {
    height: 40px;
  }
  .closer {
    padding-top: 55px;
    padding-bottom: 40px;
  }
  .illust {
    width: 220px;
    margin: auto;
  }
  .closer-text h1 {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    /* padding-bottom: 17px; */
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* padding-left: 31px; */
    color: #525252;
    /* padding-top: 10px; */
    padding-bottom: 5px;
  }
  .closer-text p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 10px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
    /* padding-right: 71px; */
  }
  .closer-text a {
    text-decoration: none;
    color: #41C0BF;

  }
  .white-space {
    height: 100px;
    background-color: #525252;
  }


}




@media screen and (min-width:768px) {
  body{
    margin: 0;
    font-family: "Montserrat",Helvetica, Arial, sans-serif;
  }
  body ::selection, html ::selection {
      background: #41c0bf;
      color:white;
  }

  *{
    padding: 0;
    margin: 0;
  }
  .wrapper{
    margin: auto;
    width: 85%;
    max-width: 1440px;
  }
  .landing{
    /* height: 85vh; */
    /* display: flex; */
    padding-top: 30px;
  }
  .landing nav {
    padding-bottom: 40px;
  }
  .landing nav ul {
    text-align: center;
  }
  .landing nav ul li {
    list-style: none;
    display: inline-block;
  }
  .landing nav ul li a {
    text-decoration: none;
    color: #41c0bf;
    /* background-color: #41c0bf; */
    border: solid 3px;
    padding: 12px 15px;
    box-sizing: border-box;
    display: inline-block;
    /* width: 100%; */
    font-family: Montserrat,Helvetica, Arial, sans-serif;
    /* font-size: 2vw; */
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .landing-page{
    align-self: center;
  }


  .landing-page h1{
    text-align: center;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    /* responsive font size */
    font-size: 6.8vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }

  .landing-page p{
    margin: auto;
    text-align: center;
    width: 69%;
    font-family: Montserrat,Helvetica, Arial, sans-serif;
    font-size: 2vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
    padding: 0px 0 10px;
  }
  .logo{
    margin: auto;
    width: 14vw;
  } 
  .center{
    font-size: 22px;
    text-align: center;
    margin: auto;
  }
  .cta-btn a{
    display: inline-block;
    text-decoration: none;
    /* width: 210px; */
    /* height: 43px; */
    /* border-radius: 10px; */
    border-bottom: solid 3px #41c0bf;
    font-family: Montserrat;
    /* font-size: 22px; */
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
    padding: 2px 0px;
    background-size:  0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
  }

  .cta-btn a:hover{
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 100% 100%;
  }
  .cta-btn a:not(:hover){
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 0 100%; 
  }
  .social{
    text-align: center;
    padding-top: 15px;
  }
  .social li{
    display: inline-block;
      list-style-type: none;
      text-align: center;
      margin-left: 10px;
  }
  .social li svg{
    height: 20px;
  }
  .c2alinks a {
    display: inline-block;
    /* float: left; */
    background-size:  0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
  }
  .c2alinks a:hover{
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 100% 100%;
  }

  /* The is a very import css selector ":not()" it helps you pass the oppiste of and argument */
  .c2alinks a:not(:hover){
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 0 100%;

  }

  .btn1{

    text-decoration: none;
    color: black;
    background-size:  0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
  }
  .btn1:hover{
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 100% 100%;
  }
  .btn1:not(:hover){
    background-image: linear-gradient(180deg,transparent 65%,#41c0bf 0);
    background-size: 0 100%;
  }
  .hero {
    margin-top: 30px;
    background-image: url(group.jpg);
    height: 550px;
    background-position: center;
    background-size: cover;
  }
  .hero img {
    width: 100%;
    /* height: 271px; */
  }
  .we-do {
    position: relative;
    margin-top: 27px;
  }
  .we-do div {
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: #41c0bf;
    border-radius: 50%;
    z-index: -1;
    top: -107px;
    left: -89px;
  }
  .we-do h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 35px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
    /* padding-right: 119px; */
  }
  .we-do ul {
    list-style-type: none;
    padding-left: 75px;
  }
  .we-do ul li {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 20px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .process {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 8px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #41c0bf;
    text-align: center;
    padding-top: 45px;
  }
  .discovery {
    padding-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
  }
  .discovery-illus {
    width: 30vw;
    margin: auto;
    /* padding-bottom: 20px; */
    /* grid-column: 2; */
  }
  .discovery-text {
    border-bottom: solid 1px #41c0bf;
    padding-bottom: 20px;
    padding-top: 20px;
    /* grid-area: 1; */
  }
  .discovery-text h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 5px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .discovery-text p {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 5px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .work {
    width: 85%;
    margin: auto;
    padding-bottom: 60px;
  }
  .work h1 {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 8px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #41c0bf;
    padding-top: 45px;
    text-align: center;
  }
  .works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding-top: 45px;
  }
  .work1 div img {
    width: 100%;
  }
  .work1 h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    /* padding-bottom: 5px; */
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
    text-align: left;
    padding: 0;
  }
  .work1 {
    padding-bottom: 40px;
  }
  .work1 p {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    /* padding-bottom: 5px; */
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #41c0bf;
  }
  .contact {
    text-align: center;
    background-color: #41C0BF;
    padding: 45px 10px;
    /* margin-top: 25px; */
    width: 85%;
    margin: auto;
    box-sizing: border-box;
  }
  .contact p {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 17px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .contact a {
    text-decoration: none;
    border: solid 1px #ffffff;
    color: #ffffff;
    padding: 7px 15px;
    display: inline-block;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    box-sizing: border-box;
  }
  .do-else {
        /* background-color: #41c0bf; */
        position: relative;
        /* padding-top: 20px; */
        
  }
  .do-else div {
    background-color: #41c0bf;
    height: 100%;
    width: 20px;
    position: absolute;
  }
  .do-else h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    /* padding-bottom: 17px; */
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-left: 31px;
    color: #525252;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 10px;
  }
  .impact {
    margin-top: 55px;
    background-image: url(teach.jpeg);
    height: 500px;
    background-position: center;
    background-size: cover;
  }
  .impact-prog {
    padding-top: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  .impact-prog li {
    padding-bottom: 15px;
    padding-top: 20px;
    /* padding: 20px; */
    border-bottom: solid 1px #cccccc;
  }
  .impact-prog li h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 10px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .impact-prog li p {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 5px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }
  .blog {
    padding-top: 70px;
    font-size: 25px;
    text-align: center;
  }
  .social-cta2 {
    margin-top: 90px;
    padding: 20px;
    text-align: center;
    border-bottom: solid 1px #525252;
    border-top: solid 1px #525252;
  }
  .social2 {
    text-align: center;
    padding-top: 10px;
  }
  .social2 li {
    display: inline-block;
    list-style-type: decimal;
    text-align: center;
    margin-right: 15px;
  }
  .social2 li:last-child {
    margin-right: 0
  }
  .social2 li svg {
    height: 40px;
  }
  .closer {
    padding-top: 110px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .illust {
    width: 30vw;
    /* width: 220px; */
    margin: auto;
  }
  .closer-text h1 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
    /* padding-bottom: 17px; */
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* padding-left: 31px; */
    color: #525252;
    /* padding-top: 10px; */
    padding-bottom: 5px;
  }
  .closer-text p {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 10px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
    /* padding-right: 71px; */
  }
  .closer-text a {
    text-decoration: none;
    color: #41C0BF;

  }
  .white-space {
    height: 100px;
    background-color: #525252;
  }

}